export(spillover_data)
export(criterion_C1_spatial)
export(criterion_C2_reservoir_signatures)
export(criterion_C3_individual)
export(criterion_C4_dose_response)
export(criterion_C5_cryptic_fraction)
export(criterion_C6_interaction)
export(criterion_C7_foi_coherence)
export(criterion_C8_temporal_precedence)
export(criterion_C9_mediation)
export(criterion_C10_mechanistic)
export(criterion_C11_specificity)
export(criterion_C12_inter_epidemic)
export(criterion_C13_endemic_age)
export(criterion_C14_spatial_independence)
export(compute_pi)
export(default_weights)
export(simulate_spillover)
export(scenario_params)
export(softmax_norm)
export(rank_norm)
S3method(print, spillover_data)
S3method(print, spillover_pi)
importFrom(stats, AIC, as.formula, binomial, coef, cor, fitted, glm, lm,
           median, nls, nls.control, optim, plogis, qlogis, quantile,
           rbinom, rnorm, rpois, runif, sd, setNames, var, pnorm, qnorm,
           family)
importFrom(lme4, glmer, glmerControl)
importFrom(utils, head, tail)
